.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

body {
    background-color: rgb(18,18,18);
}

#logo {
    max-width: 50%; 
    max-height: auto;
    padding-top: 2%;
    padding-bottom: 20%;
}

#buttonDiv {
    text-align: center;
    position: relative;
    margin-bottom: 2%;
   
}

#login {
    background-color: rgb(24,24,24);
    /* margin: center; */
    align-self: center;
    text-align: center;
    position: relative;
    height: 100%;
    width: auto;

}

#loggedin {
    background-color: rgb(24,24,24);
    margin: center;
    text-align: center;
    position: relative;
}

.btn-login {
    color: rgb(255, 255, 255);
    background: rgb(30, 215, 96);
    font-size: 15px;
    line-height:10px;
    padding: 20px 50px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    border: 0px;
    margin: auto;
    text-decoration: none;
}

.btn-login:hover {
    color: rgb(255, 255, 255);
    background: rgb(32, 227, 101);
    font-size: 15px;
    line-height:10px;
    padding: 20px 50px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    border: 0px;
    margin: auto;
    text-decoration: none;
}

.btn-signup {
    color: rgb(255, 255, 255);
    background: rgb(58,88,151);
    font-size: 15px;
    line-height:10px;
    padding: 20px 50px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    border: 0px;
    margin: auto;
    text-decoration: none;
    outline: 0;
    box-shadow:none;
}


.btn-signup:hover {
    color: rgb(255, 255, 255);
    background: rgb(65, 99, 171);
    font-size: 15px;
    line-height:10px;
    padding: 20px 50px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    border: 0px;
    margin: auto;
    text-decoration: none;
}

#blank{
    height: 10px;
}

#border{
    height: 20px;
    width: 100%;
}

h1 {
    text-align: left;
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    background-color: rgb(18,18,18);
    justify-content: center;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}