.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

body {
    background-color: rgb(18,18,18);
}

#logo {
    max-width: 50%; 
    max-height: auto;
    padding-top: 2%;
    padding-bottom: 20%;
}

#buttonDiv {
    text-align: center;
    position: relative;
    margin-bottom: 2%;
   
}

#login {
    background-color: rgb(24,24,24);
    /* margin: center; */
    align-self: center;
    text-align: center;
    position: relative;
    height: 100%;
    width: auto;

}

#loggedin {
    background-color: rgb(24,24,24);
    margin: center;
    text-align: center;
    position: relative;
}

.btn-login {
    color: rgb(255, 255, 255);
    background: rgb(30, 215, 96);
    font-size: 15px;
    line-height:10px;
    padding: 20px 50px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    border: 0px;
    margin: auto;
    text-decoration: none;
}

.btn-login:hover {
    color: rgb(255, 255, 255);
    background: rgb(32, 227, 101);
    font-size: 15px;
    line-height:10px;
    padding: 20px 50px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    border: 0px;
    margin: auto;
    text-decoration: none;
}

.btn-signup {
    color: rgb(255, 255, 255);
    background: rgb(58,88,151);
    font-size: 15px;
    line-height:10px;
    padding: 20px 50px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    border: 0px;
    margin: auto;
    text-decoration: none;
    outline: 0;
    box-shadow:none;
}


.btn-signup:hover {
    color: rgb(255, 255, 255);
    background: rgb(65, 99, 171);
    font-size: 15px;
    line-height:10px;
    padding: 20px 50px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    border: 0px;
    margin: auto;
    text-decoration: none;
}

#blank{
    height: 10px;
}

#border{
    height: 16px;
    width: 100%;
}

h1 {
    text-align: left;
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 8%;
    padding-left: 5%;
}


h2 {
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#title{
    font-size: 25px;
}

#artist, #timestamp{
    font-weight: 300;
    color: rgb(207, 207, 207);
}

h3, h4 {
    text-align: left;
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -20px;
   
}

.container {
    display: flex;
    background-color: rgb(18,18,18);
    justify-content: center;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}


#media-body {
    display: flex;
    flex-flow: row  wrap;
    align-items: stretch;
}

#albumArt{
    max-height: 300px;
    max-width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;

}

#listener {
    margin-left: 10%;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details {
    margin-left: 10%;
}

#obtain-new-token{
    margin: 7%;
}

#flexContainer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#explicit {
    padding-left: 1%;
    max-height: 30px;
    max-width: auto;
}

#progressBar {
    height: 2px;
    width: 400px;
    background-color: rgb(49, 48, 48);
    border-style: solid;
    border-color: rgb(26, 26, 26);
    border-width: 1px;
    border-radius: 10px;
}

#progressLength {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    background-color: rgb(32, 227, 101);
}

#listenerList{
    margin-top: 5%;
    margin-left: 100px;
    font-size: 15px;
    text-align: left;
}

#userImages {
    position: relative;
    height: 50px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    z-index: 1;
    
}

#users {
    text-align: left;
    display: flex;
    padding-bottom: 30px;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

#host{
    position: relative;
    width: 20px;
    margin-left: 19px;
    z-index: 2;
}